h1,body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;

}


p {
	font-family: "droid serif"
	line-height: 26px;
	font-size: 18px;
}

.IG {
	font-family: "Raleway"
	color: #f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

.Instructions {
	font-family: "Raleway"
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

.Title {
	font-family: "Raleway"
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}

main {
	width: 850px;
	margin: 35px auto;
}

header {
	background-color: #F15B31;
	padding: 30px 20px;

nav {
	
	background-color: #00A6B3;
	padding: 20px 0;
}

a {
	margin: 20px;
}

img {
	margin: 40px 8px;
}